html, body{
	background: white;
	font-family: "Mali", cursive;
	font-style: normal;
	color: #1C1D1D;
	margin: 0;
	height: 100%;
}




h1 {
	font-weight: 700;
	font-size: 3rem;
}

h2 {
	font-weight: 700;
	font-size: 2.35rem;
	margin-bottom:5px;
	
}

h3 {
	font-weight: 700;
	font-size: 2.1rem;
	margin-bottom:5px;
	margin-top:10px;
}

p {
	font-weight: 400;
	font-size: 1.25rem;
	margin:10px 0 25px 0;
}

ul,li {
	font-weight: 400;
	font-size: 1.25rem;
	
}

.section {
	padding: 5.625rem 7.5rem;
}


#hero{
	background-image: url(images/atok-hero.webp);
	background-size: cover;
	height: 692px;
	display: flex;
	align-items: end;
	justify-content: end;
	padding: 0;
}

#hero-content{
	background: #F5EEE1;
	width: 646px;
	padding: 3.75rem;
	border-radius: 50px 0 0 0;
}

#activity-title{
	text-align: center;
	margin-bottom: 50px;
}

#activity-card-wrapper{
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-evenly;
	
}

#activities{
	padding: 5.625rem 6rem;
	
}



#full-activities{
	padding: 0;
	
}

#olis-full{
	background-image: linear-gradient(#F5EEE1, #EEF5FF);
}

#blossom-full{
	background: white;
	
}

#reverse{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

#highest-full{
	background: #EEF5FF;
}

#tour-guide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#tour-guide-card{
	background: #E6F3EC;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 1440px;
	height: 451px;
	
}

#tour-guide-content{
	padding: 5rem;
	
}

#me{
	height: 451px;
	width: 551px;
}

#tips{
	background-image: linear-gradient(#E6F3EC,#81C3C5);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 445px;
}

.tips-card{
	padding: 3rem;
	width: 480px;
	background: #ffffff;
	border: 5px solid #81C3C5;
	height: 60%;
	border-radius: 20px
}

.activity-card{
	padding: 3rem;
	width: 400px;
}

.activity-card:hover{
	background: #EEF5FF;
	border-radius: 20px;
	box-shadow: 5px 5px 3px #EDEEF0;
}

.img-preview{
	width: 400px;
	
}

.button{
	width: 310px;
	background: #81C3C5;
	text-decoration: none;
	color: #1C1D1D;
	padding: 15px 25px;
	font-weight: 600;
	border-radius: 20px;
	font-size: 1.25rem;
	
}

.button:hover{
	border: 2px solid ;
	background: #ffffff;
}


.full-activities-wrapper{
	padding: 5.625rem 7.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.full-card{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 1440px;
	
}

.content{
	padding: 5rem;
}

.img-full{
	width: 700px;
]

